<header class="site-header">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="site-logo">
      <img class="hidden-md-down" src="./assets/admin/img/title_logo.png" alt="">
      <!-- FleetcoFirst -->
    </a>
    <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
      <span>toggle menu</span>
    </button>
    <button class="hamburger hamburger--htla">
      <span>toggle menu</span>
    </button>
    <div class="site-header-content">
      <div class="site-header-content-in">
        
        <div class="site-header-shown"> 
          <div class="dropdown user-menu">
            <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> 
                <img src="{{profile_details.profileimage}}" alt="Profile Image"> 
              Hello, {{profile_details.firstname}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
              <a class="dropdown-item" [routerLink]="['/profile']"><span
                  class="font-icon glyphicon glyphicon-user"></span>Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><span
                  class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
            </div>
          </div>
        </div>
        <div class="site-header-shown"> 
          <div class="dropdown user-menu">
            Date: {{currentDate | date:'d-MMM-y'}}
          </div>
        </div>
        <!--.site-header-shown-->

        <div class="mobile-menu-right-overlay"></div>
        <div class="site-header-collapsed">
          <div class="site-header-collapsed-in">
          </div>
          <!--.site-header-collapsed-in-->
        </div>
        <!--.site-header-collapsed-->
      </div>
      <!--site-header-content-in-->
    </div>
    <!--.site-header-content-->
  </div>
  <!--.container-fluid-->
</header>