<div id="wrapper" class="wrapper" style="height: auto;">

    <!-- Navigation -->
    <admin-header></admin-header>
    <admin-menu></admin-menu>
    <!-- /.navbar-static-side -->
    <div class="page-content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <!-- /#page-wrapper -->

    <admin-footer></admin-footer>
</div>
<!-- /#wrapper -->
<ng-template #rempopup let-modal>
  <div reminder [currentReminder]="currentReminder" (remindMeLater)="remindMeLater($event)" (close)="closeReminder()" (done)="done($event) "class="modal-content"></div>
</ng-template>