<!-- <h1>Welcome to Contact Page!</h1> -->
<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>All Contact</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">All Contact</li>
        </ol> 
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<section class="box-typical box-typical-padding">
  <table id="liscontacts" class="display table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr> 
        <th>Username</th>
        <th>Mobile No</th>
        <th>Email</th>       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of contacts" [attr.id]="user.id">
        <td>
          {{ user.name }}
        </td>  
        <td>
          {{ user.mobile_no }}
        </td>
        <td>
          {{ user.email }}
        </td>
      </tr>
    </tbody>
  </table>
</section>