<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>User Details</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/users']">Manage User</a></li>
          <li class="active">User Details</li>
        </ol>
      </div>
    </div>
  </div>
</header>
<!-- Main content -->
<section class="box-typical box-typical-padding"> 
  <div class="row m-y-3">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Email </label>
        <span class="form-control maxlength-simple">{{ user.email }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ user.mobile_no }}</span>
      </fieldset>
    </div> 
  </div>
</section>
<!-- /.content -->