<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Permission Details</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/permissions']">Permissions</a></li>
          <li class="active">Permission Details</li>
        </ol>
      </div>
    </div>
  </div>
</header>
<!-- Main content -->
<section class="box-typical box-typical-padding"> 
  <div class="row m-y-1">
    <div class="col-lg-12">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Permission Name </label>
        <span class="form-control maxlength-simple">{{ permission.per_name }}</span>
      </fieldset>
    </div> 
  </div> 
</section>
<!-- /.content -->