<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>User Details</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/overall_customer_loan']">Overall Customer Applied</a></li>
          <li class="active">User Details</li>
        </ol>
      </div>
    </div>
  </div>
</header>
<!-- Main content --> 
<section class="box-typical box-typical-padding"> 
  <h5>Personal Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Email </label>
        <span class="form-control maxlength-simple">{{ overallcustomer.email }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ overallcustomer.mobile_no }}</span>
      </fieldset>
    </div> 
  </div>
</section>
<!-- /.content -->
<!-- Basic Information Section --> 
<section *ngIf="basic" class="box-typical box-typical-padding"> 
  <h5>Basic Information Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Username: </label>
        <span class="form-control maxlength-simple">{{ basic.username }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Gender </label>
        <span class="form-control maxlength-simple">{{ basic.gender === 0 ? 'Male' : 'Female' }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Father Name: </label>
        <span class="form-control maxlength-simple">{{ basic.father_name }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mother Name: </label>
        <span class="form-control maxlength-simple">{{ basic.mother_name }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Date of Birth: </label>
        <span class="form-control maxlength-simple">{{ basic.date_of_birth }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Marital Status </label>
        <span class="form-control maxlength-simple">{{ basic.marital_status === 0 ? 'Unmarried' : 'Married'}}</span>
      </fieldset>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-12">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Highest Qualification: </label>
        <span class="form-control maxlength-simple">{{ basic.highest_qualification }}</span>
      </fieldset>
    </div>   
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Current Address: </label>
        <span class="form-control maxlength-simple">{{ basic.current_address }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Permanent Address: </label>
        <span class="form-control maxlength-simple">{{ basic.permanent_address }}</span>
      </fieldset>
    </div>  
  </div>
</section>

<!-- Employment Information Section --> 

<section *ngIf="empInfo" class="box-typical box-typical-padding"> 
  <h5>Employment Information Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Company Name: </label>
        <span class="form-control maxlength-simple">{{ empInfo.company_name }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Designation: </label>
        <span class="form-control maxlength-simple">{{ empInfo.designation }}</span>
      </fieldset>
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Date of join </label>
        <span class="form-control maxlength-simple">{{ empInfo.date_of_join }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Company Type </label>
        <span class="form-control maxlength-simple">{{ empInfo.industry_type }}</span>
      </fieldset>
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Company Address </label>
        <span class="form-control maxlength-simple">{{ empInfo.office_address }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Pin Code </label>
        <span class="form-control maxlength-simple">{{ empInfo.pin_code }}</span>
      </fieldset>
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Monthly Take Home </label>
        <span class="form-control maxlength-simple">{{ empInfo.monthly_take_home }}</span>
      </fieldset>
    </div>  
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Reason of Loan </label>
        <span class="form-control maxlength-simple">{{ empInfo.reason_for_loan }}</span>
      </fieldset>
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-3" *ngIf="empInfo.employment_proof">
      <label class="semibold form-label" for="firstname">Employment Proof </label> 
      <div class="cont">
        <a [href]="empInfo.employment_proof[0]" [download]="empInfo.employment_proof[0]" target="_blank">
        <img [src]="empInfo.employment_proof[0] " *ngIf=" empInfo.employment_proof[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>
    <div class="col-lg-3" *ngIf="empInfo.sal_slip_first">
      <label class="semibold form-label" for="email">Salary Slip </label>  
      <div class="cont">
        <a [href]="empInfo.sal_slip_first[0]" [download]="empInfo.sal_slip_first[0]" target="_blank">
        <img [src]="empInfo.sal_slip_first[0] " *ngIf=" empInfo.sal_slip_first[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>
    <div class="col-lg-3" *ngIf=" empInfo.sal_slip_second">
      <label class="semibold form-label" for="email">Salary Image </label>
      <div class="cont">
        <a [href]="empInfo.sal_slip_second[0]" [download]="empInfo.sal_slip_second[0]" target="_blank">
        <img [src]="empInfo.sal_slip_second[0] " *ngIf=" empInfo.sal_slip_second[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>
    <div class="col-lg-3" *ngIf=" empInfo.sal_slip_third">
      <label class="semibold form-label" for="email">Salary Image </label>
      <div class="cont">
        <a [href]="empInfo.sal_slip_third[0]" [download]="empInfo.sal_slip_third[0]" target="_blank">
        <img [src]="empInfo.sal_slip_third[0] " *ngIf=" empInfo.sal_slip_third[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>
  </div>
</section> 
<!-- Bank Details Section -->
<section *ngIf=" bankInfo" class="box-typical box-typical-padding"> 
  <h5>Bank Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Account Name </label>
        <span class="form-control maxlength-simple">{{ bankInfo.account_name }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Account Number </label>
        <span class="form-control maxlength-simple">{{ bankInfo.account_no }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Bank Name </label>
        <span class="form-control maxlength-simple">{{ bankInfo.bank_name }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Branch </label>
        <span class="form-control maxlength-simple">{{ bankInfo.branch }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">IFSC Code </label>
        <span class="form-control maxlength-simple">{{ bankInfo.ifsc_code }}</span>
      </fieldset>
    </div> 
  </div>
</section>
<!-- KYC Details -->
<section *ngIf=" kycInfo" class="box-typical box-typical-padding"> 
  <h5>KYC Details</h5>
  <div class="row">
    <div class="col-lg-3">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Adhaar Number </label>
        <span class="form-control maxlength-simple">{{ kycInfo.adhaar_no }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Adhaar Link Contact</label>
        <span *ngIf="adharContact" class="form-control maxlength-simple">{{ adharContact }}</span>   
        <button [ngClass]="{'adhaar_no' : adharContact}" class="form-control btn btn-primary" (click)="viewAdhaarNo()">View Contact</button>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Pan Number </label>
        <span class="form-control maxlength-simple">{{ kycInfo.pan_no }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row"> 
    <div class="col-lg-3" *ngIf=" kycInfo.adhaar_front_image ">
      <label class="semibold form-label" for="firstname">Adhaar Front Image </label> 
      <div class="cont">
        <a [href]="kycInfo.adhaar_front_image" [download]="kycInfo.adhaar_front_image" target="_blank">
        <img [src]="kycInfo.adhaar_front_image " *ngIf=" kycInfo.adhaar_front_image " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div> 
    <div class="col-lg-3" *ngIf=" kycInfo.adhaar_back_image ">
      <label class="semibold form-label" for="firstname">Adhaar Back Image </label> 
      <div class="cont">
        <a [href]="kycInfo.adhaar_back_image" [download]="kycInfo.adhaar_back_image" target="_blank">
        <img [src]="kycInfo.adhaar_back_image " *ngIf=" kycInfo.adhaar_back_image " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div> 
    <div class="col-lg-3" *ngIf=" kycInfo.pan_card_image "> 
      <label class="semibold form-label" for="firstname">Pan Card Image </label>
      <div class="cont">
        <a [href]="kycInfo.pan_card_image" [download]="kycInfo.pan_card_image" target="_blank">
        <img [src]="kycInfo.pan_card_image " *ngIf=" kycInfo.pan_card_image " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div> 
    </div> 
    <div class="col-lg-3" *ngIf=" kycInfo.selfee_image ">
      <label class="semibold form-label" for="firstname">Selfee Image </label> 
      <div class="cont">
        <a [href]="kycInfo.selfee_image" [download]="kycInfo.selfee_image" target="_blank">
        <img [src]="kycInfo.selfee_image " *ngIf=" kycInfo.selfee_image " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div> 
    </div>
  </div> 
</section>
<!-- College Details --> 
<section *ngIf="collegeDetail" class="box-typical box-typical-padding"> 
  <h5>College Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">College Name</label>
        <span class="form-control maxlength-simple">{{ collegeDetail.college_name }}</span>
      </fieldset>
    </div> 
    <div class="col-lg-6" *ngIf=" collegeDetail.college_id_image ">
      <label class="semibold form-label" for="firstname">College Id Image </label> 
      <div class="cont">
        <a [href]="collegeDetail.college_id_image[0]" [download]="collegeDetail.college_id_image[0]" target="_blank">
        <img [src]="collegeDetail.college_id_image[0] " *ngIf=" collegeDetail.college_id_image[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">College Address </label>
        <span class="form-control maxlength-simple">{{ collegeDetail.college_address }}</span>
      </fieldset>
    </div> 
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Qualification </label>
        <span class="form-control maxlength-simple">{{ collegeDetail.qualification }}</span>
      </fieldset>
    </div> 
  </div> 
  <div class="row">
    <div class="col-lg-12">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Reason of Loan </label>
        <span class="form-control maxlength-simple">{{ collegeDetail.reason_of_loan }}</span>
      </fieldset>
    </div>  
  </div> 
</section>
<!-- Business Details --> 
<section *ngIf="businessDetail" class="box-typical box-typical-padding"> 
  <h5>Business Details</h5>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Agreement Full Name</label>
        <span class="form-control maxlength-simple">{{ businessDetail.agree_full_name }}</span>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Agreement Shop Name</label>
        <span class="form-control maxlength-simple">{{ businessDetail.agree_shop_name }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Shop Address </label>
        <span class="form-control maxlength-simple">{{ businessDetail.shop_address }}</span>
      </fieldset>
    </div> 
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Reason of Loan </label>
        <span class="form-control maxlength-simple">{{ businessDetail.reason_for_loan }}</span>
      </fieldset>
    </div> 
  </div> 
  <div class="row">
    <div class="col-lg-4">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Daily Income </label>
        <span class="form-control maxlength-simple">{{ businessDetail.daily_income }}</span>
      </fieldset>
    </div>
    <div class="col-lg-4">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Required Amount </label>
        <span class="form-control maxlength-simple">{{ businessDetail.required_amount }}</span>
      </fieldset>
    </div>
    <div class="col-lg-4">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Days </label>
        <span class="form-control maxlength-simple">{{ businessDetail.days }}</span>
      </fieldset>
    </div>  
  </div> 
  <div class="row">
    <div class="col-lg-3" *ngIf=" businessDetail.bank_statement_image ">
      <label class="semibold form-label" for="firstname">Bank Statement Image </label> 
      <div class="cont">
        <a [href]="businessDetail.bank_statement_image[0]" [download]="businessDetail.bank_statement_image[0]" target="_blank">
        <img [src]="businessDetail.bank_statement_image[0] " *ngIf=" businessDetail.bank_statement_image[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>  
    <div class="col-lg-3" *ngIf=" businessDetail.cheque_leaf_image ">
      <label class="semibold form-label" for="firstname">Check Leaf Image </label> 
      <div class="cont">
        <a [href]="businessDetail.cheque_leaf_image[0]" [download]="businessDetail.cheque_leaf_image[0]" target="_blank">
        <img [src]="businessDetail.cheque_leaf_image[0] " *ngIf=" businessDetail.cheque_leaf_image[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>   
    <div class="col-lg-3" *ngIf=" businessDetail.shop_image ">
      <label class="semibold form-label" for="firstname">Shop Image </label> 
      <div class="cont">
        <a [href]="businessDetail.shop_image[0]" [download]="businessDetail.shop_image[0]" target="_blank">
        <img [src]="businessDetail.shop_image[0] " *ngIf=" businessDetail.shop_image[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div>
    <div class="col-lg-3" *ngIf=" businessDetail.shop_agree_image ">
      <label class="semibold form-label" for="firstname">Shop Agreement Image </label> 
      <div class="cont">
        <a [href]="businessDetail.shop_agree_image[0]" [download]="businessDetail.shop_agree_image[0]" target="_blank">
        <img [src]="businessDetail.shop_agree_image[0] " *ngIf=" businessDetail.shop_agree_image[0] " class="cont">  
        <div class="middle">
          <div class="img_icon"><img src="../../../../assets/admin/img/download_symbol.png" title="Download" class="image"></div>
        </div>
        </a> 
      </div>
    </div> 
  </div> 
</section> 
<!-- Reference Details -->
<section class="box-typical box-typical-padding"> 
  <h5>Reference Details</h5>
  <div class="row">
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Relation First </label>
        <span class="form-control maxlength-simple">{{ refInfo.rel_first }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ refInfo.number_first }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Relation Second </label>
        <span class="form-control maxlength-simple">{{ refInfo.rel_second }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ refInfo.number_second }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row">
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Relation Third </label>
        <span class="form-control maxlength-simple">{{ refInfo.rel_third }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ refInfo.number_third }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Relation Fourth </label>
        <span class="form-control maxlength-simple">{{ refInfo.rel_foruth }}</span>
      </fieldset>
    </div>
    <div class="col-lg-3" *ngIf=" refInfo">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Mobile Number </label>
        <span class="form-control maxlength-simple">{{ refInfo.number_fourth }}</span>
      </fieldset>
    </div> 
  </div>
</section>
<!-- end Reference Details -->
<section class="box-typical box-typical-padding">
  <h5>User Contact</h5>
  <div class="row">
    <div class="col-lg-6"> 
      <div class="table-wrapper-scroll-y my-custom-scrollbar">  
        <table class="con_table"> 
          <thead class="con_thead"> 
            <tr class="con_tr">
              <th>Name</th> 
              <th>Contact No</th> 
            </tr> 
          </thead>
          <tbody class="con_tbody">
            <tr *ngFor="let contact of contactDetail">      
              <td>{{ contact.name }}</td>
              <td>{{ contact.mobile_no }}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>  
  </div> 
</section>