<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Percentage Calculation</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/persentage_calculation']">Percentage Calculations</a></li>
          <li class="active">Percentage Calculation</li>
        </ol>
      </div>
    </div>
  </div>
</header>
<!-- Main content -->
<section class="box-typical box-typical-padding"> 
  <div class="row m-y-1">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Days </label>
        <span class="form-control maxlength-simple">{{ interest.days }}</span>
      </fieldset>
    </div> 
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">Processing Fee </label>
        <span class="form-control maxlength-simple">{{ interest.processing_fee }}</span>
      </fieldset>
    </div> 
  </div> 
  <div class="row m-y-1">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Interest </label>
        <span class="form-control maxlength-simple">{{ interest.interest }}</span>
      </fieldset>
    </div> 
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="firstname">GST </label>
        <span class="form-control maxlength-simple">{{ interest.gst }}</span>
      </fieldset>
    </div> 
  </div>
  <div class="row m-y-1">
    <div class="col-lg-6">
      <fieldset class="form-group">
        <label class="semibold form-label" for="email">Penality </label>
        <span class="form-control maxlength-simple">{{ interest.penality }}</span>
      </fieldset>
    </div>  
  </div>
  <script>
    $(document).ready(function(){
        $("#answer").froalaEditor("edit.off");
    });
  </script>
</section>
<!-- /.content -->