<header class="section-header">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h3>Add Page</h3>
                <ol class="breadcrumb breadcrumb-simple">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/pages']">Pages</a></li>
                    <li class="active">Add Page</li>
                </ol>
            </div>
        </div>
    </div>
</header>
<!-- Main content -->
<section class="box-typical box-typical-padding">
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
        <div class="row m-t-1">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid}">
                            <label for="title" class="required semibold form-label">Title</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="page.title" #title="ngModel" required>
                            <div *ngIf="f.submitted && !title.valid" class="help-block">Title field is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
                            <label for="description" class="required semibold form-label">Description</label>
                            <angular-editor name="description" id="description" [(ngModel)]="page.description" [config]="editorConfig"></angular-editor>
                            <!-- <angular-editor class="form-control" name="description" [(ngModel)]="page.description" #description="ngModel" rows="5" formControlName="description" [config]="editorConfig"></angular-editor> -->
                            <!-- <input type="text" class="form-control" name="description" [(ngModel)]="page.description" #description="ngModel" required> -->
                            <!-- <div *ngIf="f.submitted" class="help-block">LastName is required</div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 align-middle">
                <div class="form-group">
                    <button class="btn btn-primary" style="margin-right: 10px;">Save</button>
                    <a class="btn btn-primary" [routerLink]="['/pages']">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</section>