<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>App Users</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">App Users</li>
        </ol>
        <!-- <div class="add-button pull-right">
          <a [routerLink]="['/users/add/']" class="btn btn-inline btn-primary btn-sm" title="Add">Add User</a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<section class="box-typical box-typical-padding">
  <h5>Search & Filter</h5>
  <form name="form" (ngSubmit)="search(f.value)" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-md-3">
        <label for="from_date">From Date</label>
        <input type="date" class="form-control" name="from_date" [(ngModel)]="searchcustomer.from_date" #from_date="ngModel">
      </div>  
      <div class="col-md-3">
        <label for="to_date">To Date</label>
        <input type="date" class="form-control" name="to_date" [(ngModel)]="searchcustomer.to_date" #to_date="ngModel">
      </div>   
      <div class="col-md-3">
        <label for="name">Customer Name</label>
        <input mdInput type="text" class="form-control" name="name" [(ngModel)]="searchcustomer.name" #name="ngModel">
      </div> 
      <div class="col-md-3">
        <label for="email">Customer Email</label>
        <input mdInput type="text" class="form-control" name="email" [(ngModel)]="searchcustomer.email" #email="ngModel">
      </div> 
    </div><br>
    <div class="row"> 
      <div class="col-md-3">
        <label for="mobile_no">Mobile Number</label>
        <input mdInput type="number" class="form-control" name="mobile_no" [(ngModel)]="searchcustomer.mobile_no" #mobile_no="ngModel">
      </div> 
      <div class="col-md-3">
        <label for="user_type">User Type</label>
        <select class="form-control" name="user_type" [(ngModel)]="searchcustomer.user_type" #user_type="ngModel" > 
          <option *ngFor="let userType of userTypes" [ngValue]="userType.id">{{userType.user_type}}</option>
        </select> 
      </div>
      <div class="col-md-3">
        <label for="id_number">Adhaar ID Number</label>
        <input mdInput type="number" class="form-control" name="id_number" [(ngModel)]="searchcustomer.id_number" #id_number="ngModel">
      </div>
    </div>
    <div class="row m-t-1">
      <div class="col-md-2 search-button">
        <button class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
      </div> 
      <div class="col-md-2 search-button">
        <span (click)="reset()" class="btn btn-warning" title="Reset Filter">Reset Filter</span>
      </div>
    </div>
  </form>
</section>
<!-- Main Content -->
<section class="box-typical box-typical-padding">
  <div class="table-responsive">
    <table class="display table table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr> 
          <th>Username</th>
          <th>Email</th>
          <th>Mobile No</th> 
          <th>Active<br>(Yes/No)</th>
          <th>User Type</th>
          <th>User Level</th>
          <th>Credit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody [style.height]="isLoading? '600px':''" [class]="isLoading ? 'vizzve-loading': ''">
        <ng-container *ngFor="let user of users | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }">
          <tr>         
            <td>
              {{ user.username }}
            </td>
            <td>
              {{ user.email }}
            </td>
            <td>
              {{ user.mobile_no }}
            </td>
            <td class="text-center">
              <div class="checkbox-toggle">
                <input type="checkbox" id="check-toggle-{{ user.user_id }}-status" [(ngModel)]="user.status"
                  onclick="return confirm('Are you sure, you want to change status of this user ?');"
                  (change)="changeStatus(user,'status')">
                <label for="check-toggle-{{ user.user_id }}-status"></label>
              </div>
            </td> 
            <td class="text-center">
              <div class="checkbox-toggle"> 
                  <select class="form-control" [(ngModel)]="user.user_type" (change)="changeUserType(user,'user_type')"> 
                    <option *ngFor="let userType of userTypes" [ngValue]="userType.id" [selected]="userType.id==user.user_type" onclick="return confirm('Are you sure, you want to change user_type of this customer ?');"
                    >{{userType.user_type}}</option>
                  </select> 
              </div>
            </td>
            <td class="text-center">
              <div class="checkbox-toggle"> 
                  <select class="form-control" [(ngModel)]="user.level" (change)="changeLevel(user,'level')"> 
                    <option *ngFor="let user_level of userLevels" [ngValue]="user_level.id" [selected]="user_level.id==user.level" onclick="return confirm('Are you sure, you want to change level of this customer ?');"
                    >{{user_level.level}}</option>
                  </select> 
              </div>
            </td> 
            <td *ngIf="user.appCredit">
              {{user.appCredit.credit}}
            </td>
            <td *ngIf="!user.appCredit">
              0
            </td>
            <td class="text-center">
              <a [routerLink]="['/app_users/view/' + user.user_id]" class="btn btn-inline btn-primary btn-sm" title="View Customer Detail"><i class="fa fa-search"></i></a>
              <a [routerLink]="['/app_users/contact/' + user.user_id]" class="btn btn-inline btn-warning btn-sm" title="View Customer Contact"><i class="fa fa-users"></i></a>
              <!-- <a [routerLink]="['/app_users/edit/' + user.user_id]" class="btn btn-inline btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a> -->           
              <span class="btn btn-inline btn-danger btn-sm" title="Delete Customer" (click)="delete1(user.user_id)"><i class="fa fa-trash"></i></span>
                
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="length == 0">
          <td colspan="6" class="text-center">No records.</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination pagination-sm m-0 float-right">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </div>
  </div>
</section>