<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Category</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">Category</li>
        </ol>
        <!-- <div class="add-button pull-right">
          <a [routerLink]="['/category/add/']" class="btn btn-inline btn-primary btn-sm" title="Add">Add Category</a>
        </div> -->
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<section class="box-typical box-typical-padding">
  <table id="liscategory" class="display table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th style="text-align:center">Action</th>
        <!-- <th>Description</th>  --> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate_gory of category" [attr.id]="cate_gory.user_type">
         
        <td>
          {{ cate_gory.user_type }}
        </td>
        <td>
          {{ cate_gory.category }}
        </td> 
        <td>
          {{ cate_gory.description }}
        </td>  
        <td class="text-center">
          <a [routerLink]="['/category/view/' + cate_gory.user_type]" class="btn btn-inline btn-primary btn-sm" title="View Category"><i class="fa fa-search"></i></a> 
          
          <a [routerLink]="['/category/edit/' + cate_gory.user_type]" class="btn btn-inline btn-primary btn-sm" title="Edit Category"><i class="fa fa-pencil"></i></a>
           
          <!-- <span class="btn btn-inline btn-danger btn-sm" title="Delete User" (click)="delete1(cate_gory.user_type)"><i class="fa fa-trash"></i></span> -->
            
        </td>
        <!-- <td style="width:50%">
          {{ category.description }}
        </td>   -->
      </tr>
    </tbody>
  </table>
</section>